.input-field {
  border: solid 1px #cecece;
}

.input-field label {
  font-size: 1.2rem;
  font-weight: 100;
}

.input-field input {
  color: black;
  /* width: 0px; */
  position: relative;
  font-weight: 500;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: transparent;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
}
